CREATE TABLE [DocGia] (
	[ma_docgia] [smallint] NOT NULL ,
	[ho] [nvarchar] (15) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL ,
	[tenlot] [nvarchar] (1) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[ten] [nvarchar] (15) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL
	, NgaySinh smalldatetime
) ON [PRIMARY] 
GO

CREATE TABLE [NguoiLon] (
	[ma_docgia] [smallint] NOT NULL ,
	[sonha] [nvarchar] (15) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL ,
	[duong] [nvarchar] (63) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL ,
	[quan] [nvarchar] (2) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL ,
	[dienthoai] [nvarchar] (13) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[han_sd] [smalldatetime] NOT NULL 	
) ON [PRIMARY]
GO

CREATE TABLE [TreEm] (
	[ma_docgia] [smallint] NOT NULL ,
	[ma_docgia_nguoilon] [smallint] NOT NULL	
) ON [PRIMARY]
GO

CREATE TABLE [CuonSach] (
	[isbn] [int] NOT NULL ,
	[Ma_CuonSach] [smallint] NOT NULL ,
	[TinhTrang] [nvarchar] (1) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL 
) ON [PRIMARY]
GO

CREATE TABLE [DangKy] (
	[isbn] [int] NOT NULL ,
	[ma_docgia] [smallint] NOT NULL ,
	[ngaygio_dk] [smalldatetime] ,
	[ghichu] [nvarchar] (255) COLLATE SQL_Latin1_General_CP1_CI_AS 
) ON [PRIMARY]
GO

CREATE TABLE [DauSach] (
	[isbn] [int] NOT NULL ,
	[ma_tuasach] [int] NOT NULL ,
	[ngonngu] [nvarchar] (15) COLLATE SQL_Latin1_General_CP1_CI_AS ,
	[bia] [nvarchar] (15) COLLATE SQL_Latin1_General_CP1_CI_AS  ,
	[trangthai] [nvarchar] (1) COLLATE SQL_Latin1_General_CP1_CI_AS not null
) ON [PRIMARY]
GO

CREATE TABLE [Muon] (
	[isbn] [int] NOT NULL ,
	[ma_cuonsach] [smallint] NOT NULL ,
	[ma_docgia] [smallint] NOT NULL ,
	[ngayGio_muon] [smalldatetime] NOT NULL ,
	[ngay_hethan] [smalldatetime] NOT NULL 
) ON [PRIMARY]
GO

CREATE TABLE [QuaTrinhMuon] (
	[isbn] [int] NOT NULL ,
	[ma_cuonsach] [smallint] NOT NULL ,
	[ngayGio_muon] [smalldatetime] NOT NULL ,
	[ma_docgia] [smallint] NOT NULL ,
	[ngay_hethan] [smalldatetime] NULL ,
	[ngayGio_tra] [smalldatetime] NULL ,
	[tien_muon] [money] NULL ,
	[tien_datra] [money] NULL ,
	[tien_datcoc] [money] NULL ,
	[ghichu] [nvarchar] (255) COLLATE SQL_Latin1_General_CP1_CI_AS NULL 
) ON [PRIMARY]
GO

CREATE TABLE [TuaSach] (
	[ma_tuasach] [int] NOT NULL ,
	[TuaSach] [nvarchar] (63) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL ,
	[tacgia] [nvarchar] (31) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL ,
	[tomtat] varchar(222) COLLATE SQL_Latin1_General_CP1_CI_AS NULL 
) ON [PRIMARY]
GO

------------------------------------------------------------
--create PK
ALTER TABLE [CuonSach] WITH NOCHECK ADD 
	CONSTRAINT [PK_cuonsach] PRIMARY KEY  CLUSTERED 
	(
		[isbn],
		[ma_cuonsach]
	)  ON [PRIMARY] 
GO

ALTER TABLE [DangKy] WITH NOCHECK ADD 
	CONSTRAINT [PK_dangky] PRIMARY KEY  CLUSTERED 
	(
		[isbn],
		[ma_docgia]
	)  ON [PRIMARY] 
GO

ALTER TABLE [DauSach] WITH NOCHECK ADD 
	CONSTRAINT [PK_dausach] PRIMARY KEY  CLUSTERED 
	(
		[isbn]
	)  ON [PRIMARY] 
GO

ALTER TABLE [DocGia] WITH NOCHECK ADD 
	CONSTRAINT [PK_docgia] PRIMARY KEY  CLUSTERED 
	(
		[ma_docgia]
	)  ON [PRIMARY] 
GO

ALTER TABLE [Muon] WITH NOCHECK ADD 
	CONSTRAINT [PK_muon] PRIMARY KEY  CLUSTERED 
	(
		[isbn],
		[ma_cuonsach]
	)  ON [PRIMARY]
GO

ALTER TABLE [NguoiLon] WITH NOCHECK ADD 
	CONSTRAINT [PK_nguoilon] PRIMARY KEY  CLUSTERED 
	(
		[ma_docgia]
	)  ON [PRIMARY]
GO

ALTER TABLE [QuaTrinhMuon] WITH NOCHECK ADD 
	CONSTRAINT [PK_QuaTrinhMuon] PRIMARY KEY  CLUSTERED 
	(
		[isbn],
		[ma_cuonsach],
		[ngayGio_muon]
	)  ON [PRIMARY] 
GO

ALTER TABLE [TreEm] WITH NOCHECK ADD 
	CONSTRAINT [PK_treem] PRIMARY KEY  CLUSTERED 
	(
		[ma_docgia]
	)  ON [PRIMARY] 
GO

ALTER TABLE [TuaSach] WITH NOCHECK ADD 
	CONSTRAINT [PK_tuasach] PRIMARY KEY  CLUSTERED 
	(
		[ma_tuasach]
	)  ON [PRIMARY] 
GO

------------------------------------------------------------
--create FK
ALTER TABLE [CuonSach] ADD 
	CONSTRAINT [FK_cuonsach_dausach] FOREIGN KEY 
	(
		[isbn]
	) REFERENCES [DauSach] (
		[isbn]
	)
GO

ALTER TABLE [DangKy] ADD 
	CONSTRAINT [FK_dangky_dausach] FOREIGN KEY 
	(
		[isbn]
	) REFERENCES [DauSach] (
		[isbn]
	),
	CONSTRAINT [FK_dangky_docgia] FOREIGN KEY 
	(
		[ma_docgia]
	) REFERENCES [DocGia] (
		[ma_docgia]
	)
GO

alter table Muon add
	constraint fkMuon_DocGia 
	foreign key(ma_docgia)
	references DocGia(ma_docgia)
go

alter table QuaTrinhMuon add
	constraint fkQuaTrinhMuon_DocGia 
	foreign key(ma_docgia)
	references DocGia(ma_docgia)
go

ALTER TABLE [DauSach] ADD 
	CONSTRAINT [FK_dausach_tuasach] FOREIGN KEY 
	(
		[ma_tuasach]
	) REFERENCES [TuaSach] (
		[ma_tuasach]
	)
GO

ALTER TABLE [Muon] ADD 
	CONSTRAINT [FK_muon_cuonsach] FOREIGN KEY 
	(
		[isbn],
		[ma_cuonsach]
	) REFERENCES [CuonSach] (
		[isbn],
		[ma_cuonsach]
	)
GO

ALTER TABLE [NguoiLon] ADD 
	CONSTRAINT [FK_nguoilon_docgia] FOREIGN KEY 
	(
		[ma_docgia]
	) REFERENCES [DocGia] (
		[ma_docgia]
	)
GO

ALTER TABLE [QuaTrinhMuon] ADD 
	CONSTRAINT [FK_QuaTrinhMuon_cuonsach] FOREIGN KEY 
	(
		[isbn],
		[ma_cuonsach]
	) REFERENCES [CuonSach] (
		[isbn],
		[ma_cuonsach]
	)
GO

ALTER TABLE [TreEm] ADD 
	CONSTRAINT [FK_treem_docgia] FOREIGN KEY 
	(
		[ma_docgia]
	) REFERENCES [DocGia] (
		[ma_docgia]
	),
	CONSTRAINT [FK_treem_nguoilon] FOREIGN KEY 
	(
		[ma_docgia_nguoilon]
	) REFERENCES [NguoiLon] (
		[ma_docgia]
	)
GO

--DocGia
insert into DocGia values ('1', 'Pham', 'V', 'Bao', null)
insert into DocGia values ('2', 'Vo', 'V', 'Dung', null)
insert into DocGia values ('3', 'Van', 'P', 'Phuc', null)

--NguoiLon
insert into NguoiLon (ma_docGia, soNha, duong, quan, han_sd) 
values ('1', '10', 'Bui Thi Xuan', '2', '6/20/2002')
insert into NguoiLon (ma_docGia, soNha, duong, quan, han_sd) values ('3', '20', 'Dinh Bo Linh', '4', '6/22/2002')
insert into NguoiLon (ma_docGia, soNha, duong, quan, han_sd) values ('5', '30', 'Duong Ba Trac', '6', '6/24/2002')

--TreEm
insert into TreEm values ('2', '1')
insert into TreEm values ('4', '3')
insert into TreEm values ('6', '5')

--TuaSach
insert into TuaSach values (1, 'Last of the Mohicans', 'James Fenimore Cooper', null)
insert into TuaSach values (2, 'The Night-Born', 'Jack London', null)
insert into TuaSach values (3, 'Lemon', 'Motojirou', null)

--DauSach
insert into DauSach values (1, 1, 'ANH', 'BIA CUNG', 'Y')
insert into DauSach values (3, 1, 'DUC', 'BIA CUNG', 'Y')
insert into DauSach values (4, 1, 'HAN', 'BIA CUNG', 'Y')

--CuonSach
insert into CuonSach values (1,1, 'N')
insert into CuonSach values (1,2, 'N')
insert into CuonSach values (1,3, 'Y')

--DangKy
insert into DangKy values (1,1, '6/19/2002', null)
insert into DangKy values (1,52, '6/19/2002', null)
insert into DangKy values (43,35, '6/19/2002', null)

--Muon
insert into Muon values (1, 3, 2, '6/6/2002', '6/20/2002')
insert into Muon values (1, 5, 1, '6/19/2002', '7/3/2002')
insert into Muon values (3, 1, 1, '6/6/2002', '6/20/2002')
--QTrinhMuon
insert into QuaTrinhMuon values (1, 3, '6/7/2001', 23, '6/21/2001', '6/10/2001', null, null, null, null)
insert into QuaTrinhMuon values (1, 3, '6/21/2001', 23, '7/5/2001', '6/24/2001', null, null, null, null)
insert into QuaTrinhMuon values (1, 3, '7/5/2001', 23, '7/19/2001', '7/8/2001', null, null, null, null)
